*

!/automations
!/automations/**
!/blueprints
!/blueprints/**
!/customizations
!/customizations/**
!/entities
!/entities/**
!/esphome
!/esphome/**
!/integrations
!/integrations/**
!/views
!/views/**

!.editorconfig
!.gitignore
!.HA_VERSION
!automations.yaml
!configuration.yaml
!LICENSE.md
!README.md
!scenes.yaml
!scripts.yaml
!ui-lovelace.yaml

/integrations/birthdays.yaml
